.idea
game/
logs/

cache/
tmp/

# Temporary files
*.log
*.tmp
*.bak
*.core

# macOS / Windows
.DS_Store
Thumbs.db
desktop.ini

# Python
__pycache__/
*.pyc

# Toolset temporary directories
/port/data/
/port/bin/linux-arm64/nwmain-linux
/port/bin/linux-arm64/nwserver-linux
/port/lang/en/
/dev/external/aurora-borealius/
/dev/pc/userdir/cryptographic_secret
/dev/pc/userdir/nwsync/nwsyncmeta.sqlite3

dev/samples/**/downloads/
*.zip
*.7z
*.rar
